In [4]:
import pandas as pd

from tqdm import tqdm
from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
with pd.read_csv(
    "./green_tripdata_2019-09.csv.gz", iterator=True, chunksize=100000
) as iter:
    for index, data in tqdm(enumerate(iter)):
        data.lpep_pickup_datetime = pd.to_datetime(data.lpep_pickup_datetime)
        data.lpep_dropoff_datetime = pd.to_datetime(data.lpep_dropoff_datetime)

        if index == 0:
            # Recreate table when reloading data
            data.to_sql(name="green_taxi_data", con=engine, if_exists="replace", index=False)
        else:
            data.to_sql(name="green_taxi_data", con=engine, if_exists="append", index=False)

3it [00:21,  6.95s/it]/Users/redperiabras/Developer/dezoomcamp/week-1/homework/homework-1/.venv/lib/python3.10/site-packages/tqdm/std.py:1182: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
5it [00:30,  6.05s/it]

In [8]:
with pd.read_csv(
    "./taxi+_zone_lookup.csv", iterator=True, chunksize=100000
) as iter:
    for index, data in tqdm(enumerate(iter)):
        if index == 0:
            # Recreate table when reloading data
            data.to_sql(
                name="zone", con=engine, if_exists="replace", index=False
            )
        else:
            data.to_sql(
                name="zone", con=engine, if_exists="append", index=False
            )

1it [00:00,  6.08it/s]